user_guide
.htaccess
tool/cache/*
uploads/*.jpg
uploads/*.png
uploads/crops/*.jpg
uploads/crops/*.png
uploads/thumbs/*.jpg
uploads/thumbs/*.png
application/config/config.php
application/config/database.php
application/config/facebook.php
application/cache/*
application/logs/*
