/**
 * mix/roll
 **/
#mix-roll .filter{
    border-bottom: 1px solid #CCC;
    height: 35px;
    line-height: 35px;
    background-color: #F4F1E8;
    text-align: right;
    padding: 0px 1em;
}
#mix-roll .grid {
    border: 0px solid snow;
}
#mix-roll .grid td{
    text-align: center;
}
#mix-roll .grid .cell {
    position: relative;
    width: 150px; /* for IE 6 */
    height: 150px;
}
#mix-roll .grid .cell strong{
    font-weight: lighter;
    font-size: medium;
    color: #FFF;
    background-color: #333;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    display: none;
}
#mix-roll .grid a:hover .cell strong{
    display: block;
}
/**
 * mix/view
 **/