body {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    color: #000000;
    font: normal 80%/120% Georgia, "Times New Roman", Times, serif;
}
a {
    color: #000000;
}
h1 {
    font: normal 320%/100% Georgia, "Times New Roman", Times, serif;
    margin: 20px 0 5px 10px;
    letter-spacing: -2px;
}
.credits {
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    margin: 0 0 30px 10px;
    font: 120% Garamond, Georgia, serif;
}
.credits em {
    color: #999;
}
.credits a {
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.credits a:hover {
    color: #000;
}

img {
    border: none;
}

.footer {
    clear: both;
    margin-bottom: 30px;
    border-top: solid 1px #ccc;
    padding-top: 5px;
    text-align: center;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #000;
}
/**
 * Item 
*/
/*暫時的樣式*/
#item-edit {
    text-align: center;
    margin: auto;
    border:1px solid #CCC;
}
#item-edit .button{
    font-size: x-large;
    padding: 2px 2em;
}
fieldset {
    width: 430px;
    margin: 10px 5px;
    text-align: left;
}
#left {
    float: left;
}    
#right {
    float: left;
}  
/*#item-view*/
#item-view .links li{
    float: left;
    border:1px solid #CCC;
    padding: 6px 10px;
    margin: 3px;
    list-style-type: none;
    background-color: #CCC;    
    border: 1px solid #999;
}
#item-view .links li a{
    text-decoration: none;
}
#item-view table td {
    padding: 10px;
}
#item-view .item-info h3{
    text-align: right;
    padding: 5px 1em;
    font-size: x-large;
}
#item-view .item-info p{
    padding: 5px 1em;
    border-bottom: 1px solid #FFF;
}
#item-view .item-info {
    padding: 5px;
    background-color: #EEE;
}
#item-view #pikachoose {
    flaot: left;
}
